*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.fa-truck {
  margin-top: -30px;
  margin-right: 20px;
  transition: all 1s;
}

.fa-truck:hover {
  color: red;
  transform: rotate(-90deg);
}

.contenido-footer{
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: center;
}

footer section h4{
  font-size: 16px;
}

.footer-seccion{
  text-align: center;
  display: block;
}

.contenido-footer section i{
  font-size: 2em;
  color: #1259c3;
  padding-bottom: 10px;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    div.top-header p {
      flex-grow: 0.5;
    }

    div.top-header  {
      flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .main-header-top-bar {
      display: flex;
      justify-content: space-between;
    }
  
    .logo-search {
      width: 100vw;
    }
  
    .copy-header {
      max-width: 350px;
      text-align: right;
    }
    .hamburguer-button {
      display: none;
    }
    .main-navbar {
      display: flex;
      justify-content: space-between;
    }
    .main-navbar ul {
      display: flex;
    }
    .main-navbar li {
      margin: 0 5px;
    }
    .seccion-main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .titulares {
      width: 100%;
      display: block;
    }
    article {
      width: 40%;
    }
  
    article h4 {
      display: block;
      opacity: 0;
      transition: all 1s;
    }
    article:hover h4 {
      opacity: 1;
    }
  
    footer {
      margin-top: 3%;
      padding-left: 4%;
      padding-right: 4%;
      display: flex;
      flex-wrap: wrap;
    }
  
    .section-footer {
      width: 33.33%;
      padding: 3%;
    }
  }
  
  @media (min-width: 877px) {
    .banner {
      margin-top: 160px;
    }
  }
  
  @media (min-width: 1200px) {
    .logo {
      width: 250px;
    }
    .main-header-top-bar,
    .main-navbar {
      max-width: 1200px;
      margin: auto;
    }
    .main-header-top-bar {
      align-items: center;
    }
    .logo-search {
      width: 60%;
    }
    .copy-header {
      margin: 0;
      max-width: none;
      font-size: 22px;
      font-weight: 400;
    }
    .main-navbar {
      margin-top: 30px;
    }
    .main-navbar li {
      margin: 0 10px;
    }
    .main-navbar a {
      font-size: 19px;
    }
    article {
      width: 20%;
    }
  }

  /* Formulario */
  .create-form {
    padding: 20px 15px;
    /* margin-top: 150px; */
  }
  .control-formulario {
    margin-bottom: 15px;
  }
  .control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
  }
  
  .control-formulario .compra-vende {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .perfil-usuario {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .control {
    width: 100%;
    padding: 8px 8px;
  }
  .boton-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 1s;
  }
  .boton-formulario:hover {
    background-color: #0022aa;
  }
  
  .intereses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .interes_opcion {
    margin-top: 3%;
  }